<h1> ShortLink generater </h1>

<nav class="nav">
  <a routerLink="/home" >Home</a>
  <a routerLink="/list">List</a>
  <a routerLink="/extra">Blog</a>
  <a routerLink="/extra">Portefolio</a>
  <a routerLink="/extra">Contact</a>
  <!-- <div class="animation start-home"></div> -->
</nav>
<!-- <nav class="navbar navbar-light bg-faded justify-content-center">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/list">List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/extra">Courses</a></li>
        </ul>
    </div>
</nav> -->